root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
tab_width = 4

[*.{sh,go,Makefile}]
indent_style = tab

[*.{yml,yaml,json,jsonc,toml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
max_line_length = 120
indent_size = 2

[*.py]
indent_size = 4
max_line_length = 88
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx}]
indent_size = 2
quote_type = single

[*.{html,xml,css,scss,less}]
indent_size = 2

[*.{c,cpp,h,hpp,java,rs,sql}]
indent_size = 4

[*.{png,jpg,jpeg,gif,ico,svg,bin,exe}]
trim_trailing_whitespace = false
insert_final_newline = false
