spawn-sh-at-startup "exec waybar --config \"$HOME/.config/waybar/niri.jsonc\""
spawn-at-startup "mako"
spawn-sh-at-startup "exec swayidle -C \"$HOME/.config/swayidle/niri\""
spawn-at-startup "playerctld" "daemon"
spawn-at-startup "blueman-applet"
spawn-at-startup "/usr/libexec/polkit-mate-authentication-agent-1"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-sh-at-startup "exec \"$HOME/.local/bin/dotfiles-microphone\" sync"
spawn-sh-at-startup "exec \"$HOME/.local/bin/dotfiles-wlsunset\""
